{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI fcor SlyceIO",
    "description": "Simple container definition data SlyceIO OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.slyce-io.co.uk"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/container-definitions/{container-definition-id}/documents": {
      "post": {
        "description": "Creates a new document within the container definition",
        "requestBody": {
          "description": "Document JSON to store",
          "content": {
            "application/json": {}
          },
          "parameters": [
            {
              "name": "container-definition-id",
              "in": "path",
              "description": "ID of plant to delete",
              "required": true,
              "schema": {
                "type": "string",
                "format": "GUID"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Document response",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }

          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "https",
        "scheme": "bearer"
      }
    }
  }
}